@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,900;1,300;1,400;1,500;1,700&display=swap');

:root {
    --background-color-dark: #121212;
    --background-color-medium: #181818;
    --background-color-light: #666666;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #B3B3B3;
    font-family: "Roboto";
    color: var(--primary-text-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color-medium);
}

.container {
    position: relative;
    width: 60%; /* Set to your desired width */
    height: 60%; /* Set to your desired height */
    max-width: 700px;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

/* -------- PREGAME WINDOW ----------  */
.pregame-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    padding: 1rem 0 1rem 0;
    border-radius: 1rem;
    visibility:hidden;
    gap: 1rem;
    z-index: 1;
}

.pregame-window.show {
    /* From https://css.glass */
    background: rgba(86, 86, 86, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.3px);
    -webkit-backdrop-filter: blur(18.3px);
    border: 1px solid rgba(86, 86, 86, 1);
    transition: 0.5s ease;
    visibility: visible;
}

.pregame-title {
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pregame-window input {
    width: 100%;
    height: 2rem;
    margin-top: 4px;
    border-radius: 0.4rem;
}

.emoji-selection {
    width: 80%;
    height: 50%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    /* Hiding scrollbar on IE, Edge, and Firefox */
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox  */
}
/* Hiding scrollbar for Chrome, Safari, and Opera */
.emoji-selection::-webkit-scrollbar {
    display: none;
}

.emoji-selection-title {
    font-size: 1.2rem;
}

.emoji-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
}

.emoji {
    font-size: 4em;
    border-radius: 1rem;
}

.emoji-selection hr {
    width: 75%;
    height:2px;
    background-color: white;
}

.selected-emoji {
    background-color: var(--background-color-light);
}

.start-game-btn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: none;
}

.next-player-btn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    visibility: hidden;
}

.next-player-btn.show {
    visibility: visible;
}

/* -------- POST-GAME SCREEN ------- */
.post-game-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 20%;

    visibility: hidden;
}

.post-game-screen.show {
    /* From https://css.glass */
    background: rgba(86, 86, 86, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18.3px);
    -webkit-backdrop-filter: blur(18.3px);
    border: 3px solid rgb(78, 78, 78);
    transition: 0.5s ease;
    visibility: visible;
}

.post-game-screen h1 {

}

.post-game-screen button {
    width: 40%;
}

/* -------- MAIN CONTENT ----------  */
.game-stats {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem;
    visibility: hidden;
}

.game-stats.show {
    transition: 0.5s ease;
    visibility: visible;
}

.gameboard {
    display:grid;
    background-color: var(--background-color-medium);
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    gap: 0.9rem; 
    margin: 1rem;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: var(--background-color-light);
    border: solid 1px black;
    border-radius: 1rem;
    color: var(--primary-text-color);
}

.cell-content {
    height: 4rem;
    font-size: 4rem;
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES/TABLET) =========== */
@media screen and (max-width: 1024px) {
    .container {
        width: 70%;
    }
}
  
  /* ============ MEDIA QUERIES (SMALL DEVICES/PHONE) =========== */
@media screen and (max-width: 600px) {
    .container {
        width: 95%;
    }

    .emoji {
        font-size: 2rem;
    }
}

@media screen and (max-height: 800px) {
    .container {
        height: 80%;
    }
}